/* Additional CSS */

.worksans {
    font-family: 'Work Sans', sans-serif;
  }
 
/* 인덱스 이미지 마우스 오버 스케일업 효과 CSS */ 

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.4); 
}

/* 히어로 영역 텍스트 그림자 CSS */

.textshadow {
  text-shadow: 3px 3px 3px black;
}

/* 앵커 이동 후 상위 여백 지정 CSS */

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/* 로고 폰트 적용 CSS */

.myfont {
  font-family:'Handlee', cursive;
}

.myfont-great {
  font-family: 'Great Vibes', cursive;
}

.myfont-bebas {
  font-family: 'Bebas Neue', cursive;
}

@font-face {
  font-family: 'Canonatia';
  src:url('/font/canonatia/Canonatia.woff') format('woff'),
  url('/font/canonatia/Canonatia.ttf') format('truetype');
}

.myfont-canonatia {
  font-family: 'Canonatia';
}

/* 구글맵 반응형 CSS */

.embed-container { 
  position: relative; 
  padding-bottom: 50%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}                                 
.embed-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* 그리드 영역 조정 CSS */

.grid-container {
  grid-template-rows: auto;
  grid-template-columns: auto;
}

@media (min-width: 640px) {
  .grid-c30 {
    grid-template-rows: auto;
    grid-template-columns: 40% auto;
  }
}
/* Box Shadow CSS

.b-shadow{
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06); 
}

*/

/* 스크롤 내렸을 때 헤더 조정 CSS */

#header {
  box-sizing:border-box;
  transition:.5s;
  color: #fff;
  }
  
#header.active {
  background:rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06); 
  color: #130e0e;
}

.slider {
  width: 100%;
  height: 44rem;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Hover Effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1.5em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1.5em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}