/* Additional CSS */

.worksans {
    font-family: 'Work Sans', sans-serif;
  }
 
/* 인덱스 이미지 마우스 오버 스케일업 효과 CSS */ 

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}

/* 히어로 영역 텍스트 그림자 CSS */

.textshadow {
  text-shadow: 3px 3px 3px black;
}

/* 앵커 이동 후 상위 여백 지정 CSS */

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

/* 로고 폰트 적용 CSS */

.myfont {
  font-family:'Handlee', cursive;;
}

/* 구글맵 반응형 CSS */

.embed-container { 
  position: relative; 
  padding-bottom: 50%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}                                 
.embed-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* 그리드 영역 조정 CSS */

.grid-container {
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.b-shadow{
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06); 
}
